.about_first{
    position: relative;
}
.about_card{
    background-color: rgba(35,35,38,0.8);
    width: 100%;
    padding-left: 10%;
    position: absolute;
    top: 30%;
    left: 0;

}
.about_title{
    color: white;
    font-weight: 1000;
    font-size: 40px;
}